
<!-- <img src="../../assets/inicio.jpeg" alt="" class="img-fluid banner position-relative z-index-1"> -->
<section class="banner text-center align-middle">
    <div class="text-white align-middle">
        <h1 class="text-white " style="font-size: 5em;">El Grupo Axis</h1>
    </div>
    <div class="text-white align-middle"> 
        <h4 style="font-size: 3em;">Consultores financieros. Confía en profesionales.</h4>
    </div>
    <div class="align-middle ">
        <a href="#" class="btn btn-danger" style="font-size: 2em;">Comenzar</a>
    </div>
</section>

